.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__left {
    width: 70%;
    flex: 0.5;
    min-width: 80px;
    display: flex;
    background-color: white;
    padding: 0 10px;
    border-radius: 30px;
    color: gray;
    align-items: center;
    height: 40px;
}

.header__left>input {
    border: none;
    width: 70%;
}

.header__left>input:focus {
    outline: 0;
}

.header__right>h4 {
    margin-left: 10px;
}